html,
body {
  font-family: helvetica;
  font-size: 15px;
  margin: 0 auto;
  width: 350px;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 3px;
  padding-right: 10px;
}

ul {
  padding: 5px 5px 0px 5px;
  height: 100%;
  width: 100%;
}

li {
  list-style: none;
  background-color: rgba(0, 0, 0, 0.05);
  height: 30px;
  border: 1px solid #CCCCCC;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
}

.player {
  padding: 5px 5px 5px 0px;
  margin-left: 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.home {
  width: 350px;
}

.home-link {
  float: right;
  padding-bottom: 5px;
}

.tracked-players-text {
  text-align: center;
}

.untrack-checkbox {
  float: left;
}

.untrack-button {
  background-color: #CF3A3A;
  height: 30px;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
  width: 55%;
  box-sizing: border-box;
  border-radius: 3px;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: -10px;
  text-align: center;
  line-height: 27px;
}

.player-input {
  width: 100%;
}

.track-button {
  background-color: #1A8710;
  height: 30px;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
  width: 55%;
  box-sizing: border-box;
  border-radius: 3px;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
  line-height: 27px;
}